.slider {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;

}


.slider__container {
	overflow: hidden;
}

.slider__wrapper {
	overflow: hidden;
	max-width: 870px;
	/* margin-left: 150px; */
}

.slider__items {
	display: flex;
	transition: transform 0.5s ease;
	will-change: transform;
}


.slider__item {
	flex: 0 0 100%;
	max-width: 100%;
	user-select: none;
	will-change: transform;

}

.slider__items {
	max-width: 850px;
	max-height: 370px;
	display: flex;
	margin-top: 150px;
	

}

/* кнопки влево и вправо */

.slider__control {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.btn-prev {
	margin-right: 30px;
}

.btn-next {}


.btn__slider {
	display: flex;
	padding: 30px;
}



.btn-prev:hover {
	opacity: .7;
	transition: .5s;

}

.btn-next:hover {
	opacity: .7;
	transition: .5s;
}




.slider__control_hide {
	display: none;
}

.slider__control[data-slide="prev"] {
	left: 0;
}

.slider__control[data-slide="next"] {
	right: 0;
}

